<form method="post" action="/files" enctype="multipart/form-data">
    <fieldset>
        <legend>Formulaire de test d'envoi d'image</legend><br>
        <label for="upload_file"> Choisissez un fichier</label>
        <input type="file" name="upload_file"><br><br>
        <label for="description"> Description de l'image</label>
        <input type="text" name="description"><br><br>
        <!-- <input type="text" name="userId" value="669590c64cd65cdcec69e32c" hidden>ID de l'utilisateur existant la BDD mongo -->
        <input type="text" name="userId" value="6685278b2d96396c8034827a" hidden>ID de l'utilisateur existant la BDD mongo
        <input type="submit" value="Envoyer">
    </fieldset>
</form>
